# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Output files
*.out
*.class

# IntelliJ Files
.idea
out
*.iml

# Archivos del proyecto
redes_de_petri
monitor/data/Log.txt
MARCADOS.xlsx

# Drive Files
*.ini

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
